# SPDX-License-Identifier: Apache-2.0
# Copyright (C) 2019-2021 Intel Corporation

[Match]
Name=en* eth* em*

[Network]
DHCP=yes

[DHCP]
CriticalConnection=true
SendHostname=false
ClientIdentifier=mac
